<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App.Properties.Settings.ff2016ConnectionString" connectionString="Data Source=WINXP\SQLEXPRESS;Initial Catalog=ff2016;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>